extends /app.pug

block pageInfo
  -
    let page = {
      websiteURL,
      url: "/projects/ultima-apparel",
      name: "ultima-apparel",
      title: "Ultima Apparel — Improving posture and form through data",
      description: "A project to improve posture and acquire data about workout form."
    };

block content
  //- Banner layer
  +banner({
    title: "Project 4: Ultima Apparel (2016 - 2018)",
    content: "A project to improve posture form during workouts by means of clothing that tracked form and posture.",
    image: {
      class: "effect-parallax hero-img",
      src: "cloudinary/joseph-projects/ultima-apparel/Proof_of_Concept_1",
      alt: "An image of Ultima Apparels first proof of concept.",
    }
  })

  //- Intro layer
  +layer({
    class: "layout-padding-horz-default--device-gt-tablet"
  })
    +layout({
      class: "layout-shorten layout-contain"
    })
      +main({
        class: "layout-padding-vert-small layout-clearfix"
      })
        +p
          span.style-font-title.style-letter-head.layout-padding-right-nano.layout-inline-block.layout-left U
          span.layout-inline.layout-margin-dull ltima Apparel started off as a pet project for my co-founder. He was looking to find a way to improve his posture and acquire data about his form after hurting himself during a workout. He approached me to see if we could solve that problem for others as well.
          br
          br
          | We decided to enter the project into our capstone competition as our final year capstone project.

  //- Next page layer
  +link({
    href: "/projects/phoenix",
    class: "layout-block"
  }, true)
    +layer({
      class: "layout-padding-horz-default--device-gt-tablet layer-black layer-next"
    })
      +head({
        class: "layout-padding-top-default"
      })
        h3.layer-title.style-font-light.style-font-thin.style-spaceout.style-font-default--device-gt-tablet.style-font-20 Next
      +layout({
        class: "layout-contain layout-padding-horz--device-gt-tablet"
      })
        +main({
          class: "layout-padding-vert-sub-large--device-gt-tablet"
        })
          p.layer-content.style-font-bold.style-400.style-font-large--device-gt-tablet.style-font-sub-large--device-lt-tablet.style-line-height Phoenix

        +tile({
          class: "layer-box layer-box-flat-mobile layer-tertiary-dark layer-shadow--2 layout-margin-vert-top-larger layout-block layer-tile-outline",
          image: {
            class: "effect-parallax",
            src: "cloudinary/joseph-projects/phoenix/New_Solar_Panel_1-03",
            alt: "An image of Joseph Ojo holding a large pane of Solar Panels.",
          }
        })
