/* -- Header -- */
.header {
   $height: 60px;

   position: relative;
   display: block;

   &-top-spot {
       height: $height + $size;
   }

   /* -- Navigation -- */
    @at-root .navbar {
        position: relative;
        max-height: 1000px;
        height: $height;
        z-index: 1200;
        width: 100%;

        &-fixed {
            position: fixed;
            left: 0;
            top: 0;
        }

        &-layout {
            $radius: 18px;

            transition: box-shadow .15s ease, background .15s ease;
            box-shadow: 0 0px 15px rgba(0, 0, 0, 0);
            border-radius: 0 0 $radius $radius;
            background: transparent;
            margin: 0 auto;
        }

        &-focus, &-show, &:hover {
            .navbar-layout {
                box-shadow: 0 5px 25px rgba(0, 0, 50, 0.12);
                background: $surface;
            }
        }

        &-head {
            transition: border-bottom-color .45s linear;
            border-bottom: 1px solid transparent;
            flex-direction: row;
            align-items: center;
            flex-wrap: nowrap;
            display: flex;
        }

        &-title {
            padding-left: $size-sub-large;
            font-family: $bold-font;
            letter-spacing: 0.05em;
            text-decoration: none;
            line-height: $height;
            position: relative;
            font-size: 17px;
        }

        &-list {
            transition: max-height .55s ease-in-out;
            justify-content: center;
            align-items: center;
            white-space: nowrap;
            overflow-y: hidden;
            list-style: none;
            display: flex;
            width: 100%;
            margin: 0;
        }

        &-link {
            text-transform: uppercase;
            font-family: $bold-font;
            text-decoration: none;
            line-height: $height;
            letter-spacing: 1px;
            font-weight: 300;
            padding: 0 28px;
            font-size: 14px;
            color: $black;

            &:before {
                transition: transform .25s cubic-bezier(.25,.46,.45,.94);
                transform: translateY($height - 12px) scaleX(0);
                background-color: $primary !important;
                border: 1px solid transparent;
                transform-origin: 100% 50%;
                will-change: transform;
                transition-delay: 70ms;
                border-radius: 10px;
                display: block;
                height: 2.5px;
                width: 100%;
                content: "";
            }

            &:hover, &-focus {
                text-decoration: none;
                color: $black;

                &:before {
                    transform: translateY($height - 12px) scaleX(1);
                    transform-origin: 0 50%;
                }
            }

            &-focus {
                color: $primary-dark;

                &:before {
                    background-color: $primary-dark;
                }
            }
        }

        &-mobile {
            display: none;
        }

        &-desktop {
            display: block;
        }

        // Mobile navbar settings
        @media #{$screen-size-tablet} {
            &-layout,
            &-list {
                flex-direction: column;
            }

            &-head {
                padding-right: $size-small;
                width: 100%;
            }

            &-show {
                .navbar-head {
                    border-bottom-color: darken($very-light, 0.5%);
                }

                .navbar-list {
                    max-height: 100vh !important;

                    li {
                        opacity: 1;
                    }

                    @for $i from 1 to 4 {
                        li:nth-of-type(#{$i}) {
                            transition-delay: $i * .30s;
                        }
                    }
                }
            }

            &-list {
                background: lighten($very-light, 2%);
                max-height: 0;

                li {
                    transition: opacity .35s ease-in-out;
                    // text-align: center;
                    display: block;
                    width: 100%;
                    opacity: 0;
                }
            }

            &-link {
                line-height: $height - 12px;
                padding: 0 24px;

                &:before {
                    transform: translateY($height - 24px) scaleX(0);
                }

                &-focus, &:hover {
                    &:before {
                        transform: translateY($height - 18px) scaleX(1);
                    }
                }
            }

            &-menu {
                cursor: pointer;
            }

            &-desktop {
                display: none !important;
            }

            &-mobile {
                display: block;
            }
        }

        // Desktop navbar settings
        @media (min-width: $tablet) {
            &-layout {
                padding: 0 $size;
                display: flex;
            }

            &-list {
                height: $height;
            }
        }
    }
}
