/* -- Header -- */

.header {
   $height: 60px;

   position: relative;
   display: block;

   &-top-spot {
       height: $height + $size;
   }

   /* -- Navigation -- */
    @at-root .navbar {
        position: relative;
        max-height: 1000px;
        height: $height;
        z-index: 1200;
        width: 100%;

        &-fixed {
            position: fixed;
            left: 0;
            top: 0;
        }

        &-layout {
            $radius: 18px;

            transition: box-shadow .3s ease .1s, background .3s ease .1s;
            box-shadow: 0 5px 25px rgba(0, 0, 0, 0);
            border-radius: 0 0 $radius $radius;
            background: transparent;
            margin: 0 auto;
        }

        &-focus, &-show, &:hover {
            .navbar-layout {
                box-shadow: 0 5px 25px rgba(0, 0, 50, 0.12);
                background: $surface;
            }
        }

        &-head {
            transition: border-bottom-color .25s linear 0s;
            border-bottom: 1px solid transparent;
            flex-direction: row;
            align-items: center;
            flex-wrap: nowrap;
            display: flex;
        }

        &-title {
            font-family: $title-font;
            letter-spacing: 0.05em;
            text-decoration: none;
            line-height: $height;
            padding-left: $size;
            position: relative;
            font-size: 17px;
        }

        &-list {
            transition: max-height .25s linear 0s;
            justify-content: center;
            align-items: center;
            white-space: nowrap;
            overflow-y: hidden;
            list-style: none;
            display: flex;
            width: 100%;
            margin: 0;
        }

        &-link {
            text-transform: uppercase;
            font-family: $bold-font;
            line-height: $height;
            letter-spacing: 1px;
            font-weight: 300;
            padding: 0 28px;
            font-size: 14px;
            display: block;
            color: $black;
            width: 100%;

            &:hover {
                text-decoration: none;
                color: $primary-dark;
            }

            &-focus {
                // text-decoration: line-through;
                color: $secondary-dark;
            }
        }

        &-mobile {
            display: none;
        }

        &-desktop {
            display: block;
        }

        // Mobile navbar settings
        @media (max-width: 600px) {
            &-layout,
            &-list {
                flex-direction: column;
            }

            &-head {
                padding-right: $size-small;
                width: 100%;
            }

            &-show {
                .navbar-head {
                    border-bottom-color: darken($very-light, 0.5%);
                }

                .navbar-list {
                    max-height: 100vh !important;
                }
            }

            &-list {
                background: lighten($very-light, 2%);
                max-height: 0;

                li {
                    // text-align: center;
                    display: block;
                    width: 100%;
                }
            }

            &-menu {
                cursor: pointer;
            }

            &-desktop {
                display: none;
            }

            &-mobile {
                display: block;
            }
        }

        // Desktop navbar settings
        @media (min-width: 600px) {
            &-layout {
                padding: 0 $size;
                display: flex;
            }

            &-list {
                height: $height;
            }
        }
    }
}
