/* -- Header -- */
.header {
    $height: 60px;

    position: relative;
    display: block;

    &-top-spot {
        height: $height + $size;
    }

    /* -- Navigation -- */
    @at-root .navbar {
        $radius: 18px;
        position: relative;
        max-height: 1000px;
        height: $height;
        z-index: 1200;
        width: 100%;

        &-fixed {
            position: fixed;
            left: 0;
            top: 0;
        }

        &-layout {
            border-bottom: 1px solid transparent;
            border-right: 1px solid transparent;
            border-left: 1px solid transparent;
            background: transparent;
            height: $height;
            margin: 0 auto;
        }

        &-focus,
        &-show,
        &:hover {
            .navbar-layout {
                background: $surface;

                border-bottom-color: darken($very-light, 3%);
                border-right-color: darken($very-light, 3%);
                border-left-color: darken($very-light, 3%);
                border-radius: 0 0 $radius $radius;
            }

            .navbar-title-line {
                border-left-color: darken($background, 14%) !important;
            }
        }

        &-head {
            border-bottom: 1px solid transparent;
            flex-direction: row;
            align-items: center;
            flex-wrap: nowrap;
            display: flex;
        }

        &-logo {
            transform: translateY(4px);
            display: inline-block;
            min-height: 22px;
            width: 22px;
        }

        &-title {
            font-family: $bold-font;
            letter-spacing: 0.05em;
            text-decoration: none;
            line-height: $height;
            padding-left: $size;
            position: relative;
            font-size: 17px;

            &-line {
                transition: border-left-color linear .45s;

                border-left: 1px solid transparent;
                border-left-color: darken($mid-light, 2%);

                margin-right: $size-smaller;
                margin-left: $size-smaller;
                // transform: translateY(1px);
                display: inline-block;
                height: 14px;
            }
        }

        &-list {
            justify-content: center;
            align-items: center;
            white-space: nowrap;
            overflow-y: hidden;
            list-style: none;
            display: flex;
            width: 100%;
            margin: 0;
        }

        &-link {
            text-transform: uppercase;
            font-family: $bold-font;
            text-decoration: none;
            line-height: $height;
            letter-spacing: 1px;
            font-weight: 300;
            padding: 0 28px;
            font-size: 14px;
            color: $black;
            width: 100%;

            &-content {
                display: inline-block;

                &:before {
                    transition: transform .25s cubic-bezier(.25, .46, .45, .94);
                    transform: translateY($height - 14px) scaleX(0);
                    background-color: $primary !important;
                    border: 1.5px solid transparent;
                    transform-origin: 100% 50%;
                    will-change: transform;
                    transition-delay: 70ms;
                    border-radius: 10px;
                    display: block;
                    height: 2.5px;
                    width: 100%;
                    content: "";
                }
            }

            &:hover,
            &:focus,
            &-focus {
                text-decoration: none;
                color: $black;

                .navbar-link-content:before {
                    transform: translateY($height - 14px) scaleX(1) !important;
                    transform-origin: 0 50% !important;
                }
            }

            &-focus {
                color: $primary-dark;

                &:before {
                    background-color: $primary-dark;
                }
            }
        }

        &-mobile {
            display: none;
        }

        &-desktop {
            display: block;
        }

        // Mobile navbar settings
        @media #{$screen-size-tablet} {
            &-layout,
            &-list {
                flex-direction: column;
            }

            &-head {
                padding-right: $size-small;
                position: relative;
                width: 100%;
                z-index: 10;
            }

            &-main {
                border-bottom: 1px solid transparent;
                transition: transform .55s ease;
                transform: translateY(-150%);
                display: block;
                width: 100%;
                z-index: 20;
            }

            &-list {
                background: lighten($very-light, 2%);
                position: relative;
                overflow: hidden;
                display: block;

                li {
                    transition: opacity .35s ease;
                    display: block;
                    width: 100%;
                    opacity: 0;
                }
            }

            &:hover,
            &-focus,
            &-show {
                .navbar-head {
                    background: $surface;
                }

                .navbar-head, .navbar-main {
                    border-bottom-color: darken($very-light, 3%);
                }
            }

            &-show {
                .navbar-main {
                    transform: translateY(0);

                    li {
                        opacity: 1;

                        @for $i from 1 to 4 {
                            &:nth-of-type(#{$i}) {
                                transition-delay: $i * .30s;
                            }
                        }
                    }
                }
            }

            &-link {
                line-height: $height - 12px;
                padding: 0 24px;

                &-content:before {
                    transform: translateY($height - 18px) scaleX(0);
                }

                &-focus,
                &:focus,
                &:hover {
                    .navbar-link-content:before {
                        transform: translateY($height - 18px) scaleX(1) !important;
                    }
                }
            }

            &-menu {
                cursor: pointer;
            }

            &-desktop {
                display: none !important;
            }

            &-mobile {
                display: block;
            }
        }

        // Desktop navbar settings
        @media (min-width: #{$tablet}px) {
            &-layout {
                padding: 0 $size;
                display: flex;
            }

            &-list {
                height: $height;
            }
        }
    }
}