@use "./mixins.scss" as *;

/*
    -- Layer (represents a section of code that displays content) --
     * ".more" = is for the learn more buttons
*/

.image {
    z-index: 0;

    &,
    figure,
    &-overlay {
        @apply absolute top-0 left-0 overflow-hidden block h-full w-full;
    }

    img {
        @apply absolute top-0 left-0 overflow-hidden object-cover object-center h-full w-full;
    }

    &-overlay {
        transition: background-color #{$transitionDuration} ease;
        background-color: darken($primary-dark, 30%);
        opacity: 0.55;
        z-index: 25;
    }
}

.banner {
    @apply text-white;

    &.hero {
        @apply pt-20 px-5;

        .image {
            @apply rounded-2xl overflow-hidden;
        }

        .container {
            @apply container max-w-screen-3xl;
        }

        h1 {
            @apply text-7xl;
        }
    }

    .container {
        @apply relative max-w-full;
    }

    .image-container,
    .layout {
        @apply container max-w-screen-lg;
    }

    .layout {
        @apply transform translate-y-5 px-12 flex flex-col;
    }

    .content {
        @apply py-36 z-10;
    }

    h1 {
        @apply font-title font-900 text-6xl leading-tight mb-8;
    }

    h2 {
        @apply font-regular text-2xl leading-normal;
        font-weight: 500;
    }
}

.img-view {
    figure.load-img {
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;

        .img-view-contain {
            transition: background-color #{$transitionDuration} ease;
            transform: translate3d(0, 0, 0);
            display: inline-block;
            background-color: #797886;

            img {
                position: relative;
                object-fit: scale-down;
                object-position: center center;
                transform: scale(1);
            }

            .no-script-img {
                position: absolute;
                width: 100%;
                height: auto;
                top: 0;
                left: 0;
            }
        }
    }
}

html[theme="dark"] {
    .img-view figure.load-img {
        background-color: #1d1c2b;
    }
}

.container-lg {
    @apply container max-w-screen-lg px-8 py-24 leading-8 font-600;
}

.container-xl {
    @apply container max-w-screen-xl px-8 py-24 leading-8 font-600;
}

.capsule-layer {
    @apply z-10 relative;
    @apply px-5;

    .layout {
        @include applyTheme(color, "white");

        @apply bg-gray-800 dark:bg-black;
        @apply relative overflow-hidden rounded-xl;
        @apply mx-auto w-full max-w-screen-xl;
        @apply px-16 py-5 leading-loose;

        transition: background-color #{$transitionDuration} ease,
            color #{$transitionDuration} ease;
    }
}

.capsule-offset {
    @apply pt-48 -mt-48;
}

.contrast-layer {
    transition: background-color #{$transitionDuration} ease,
        color #{$transitionDuration} ease;
    background-color: $white;
    background-color: var(--very-light, $white);
}

.col-grid-3 {
    @apply -my-2 -mx-2;

    & > * {
        @apply px-2 py-2;
    }
}

.layer {
    // font-family: $regular-font;
    line-height: 1.85;
    position: static;
    font-size: 17px;
    display: block;
    width: 100%;
    z-index: 0;

    &-content {
        position: relative;
        z-index: 25;
    }

    &-shadow,
    %shadow {
        box-shadow: 0 0px 35px 5px change-color($dark, $alpha: 0.53);

        &--1 {
            box-shadow: 0 0 10px 2px rgba(33, 33, 33, 0.12);
        }

        &--2 {
            box-shadow: 0 10px 85px rgba(0, 0, 0, 0.35);
        }
    }

    &-overflow-hide {
        overflow: hidden;
    }

    .quote {
        line-height: 1;
        margin: 0;
        padding: 0;
        transform: translate(0, 0) rotate(180deg);
        position: absolute;
        left: -20px;
        top: -60px;
        z-index: 0;
        display: block;

        // @media #{$screen-size-lt-tablet} {
        //     visibility: hidden;
        // }
    }

    .text-above-quote {
        position: relative;
        z-index: 20;
    }

    &-joseph-img {
        position: relative;
        max-width: 300px;
        height: 300px;
        width: 300px;

        & figure {
            transition: filter ease 0.5s;
            filter: grayscale(0);
        }

        &:hover figure {
            filter: grayscale(1);
        }

        .layer-image-overlay {
            background-color: transparent !important;
            display: none;
        }

        &.left {
            // margin-bottom: $size;
            // margin-right: $size;
        }

        // @media #{$screen-size-lt-tablet} {
        //     max-width: 100%;
        // }

        .placeholder-img {
            transform: scale(1) !important;
        }
    }

    &-joseph-img2 {
        position: relative;
        width: 500px;

        .layer-image-overlay {
            background-color: transparent !important;
            display: none;
        }

        &.left {
            // margin-bottom: $size;
        }
        // @media #{$screen-size-gt-tablet} {
        //     &.left {
        //         margin-right: $size;
        //     }
        // }

        // @media #{$screen-size-lt-tablet} {
        //     max-width: 100%;
        //     display: block;
        // }

        .placeholder-img {
            transform: scale(1) !important;
        }
    }
    &-joseph-img3 {
        position: relative;
        max-width: 300px;
        height: 450px;
        max-height: 450px;
        width: 500px;

        .layer-image-overlay {
            background-color: transparent !important;
            display: none;
        }

        // &.left {
        //     margin-bottom: $size;
        // }
        // @media #{$screen-size-gt-tablet} {
        //     &.left {
        //         margin-right: $size;
        //     }
        // }

        // @media #{$screen-size-lt-tablet} {
        //     max-width: 100%;
        //     display: block;
        // }

        .placeholder-img {
            transform: scale(1) !important;
        }
    }

    &-secondary-btn {
        transition: background-color #{$transitionDuration} ease;
        @include applyTheme(background-color, "secondary-light");

        &:hover,
        &:focus {
            @include applyTheme(background-color, "secondary");
        }

        &,
        &:hover,
        &:focus {
            color: $black;
        }
    }

    &,
    &-bkg,
    &-background {
        @include colorList(background-color);
    }

    &-border {
        $borderStyles: (
            "solid": solid,
            "dotted": dotted,
            "dashed": dashed,
            "double": double,
            "groove": groove,
            "ridge": ridge,
            "inset": inset,
            "outset": outset,
            "hidden": hidden,
            "none": none,
        );
        border: 1px solid $mid;

        @include colorList(border-color);
    }

    &-round {
        border-radius: 9999px;
    }

    &-round:focus-visible {
        border-radius: 9999px;
    }

    a .layer-tile {
        cursor: pointer;

        &-outline .layer-image-overlay {
            border: 4px solid transparent;
            border-radius: 8px;

            &:focus-visible {
                border-radius: 8px;
            }
        }

        &-outline:hover .layer-image-overlay {
            border-color: $secondary-light;
            border-color: var(--secondary-light, $secondary-light);
        }
    }

    &-tile {
        position: relative;
        min-height: 300px;
        cursor: help;
        display: block;
        width: 100%;

        &,
        .layer-image {
            overflow: hidden;
        }

        &-footer {
            transition: color #{$transitionDuration} ease;
            color: $white;
            @include applyTheme(color, "white");
            position: absolute;
            margin: 20px 25px;
            bottom: 0;
        }
    }

    &-box {
        position: relative;
        min-height: 300px;
        width: 100%;

        &,
        .layer-image {
            border-radius: 8px;
            &:focus-visible {
                border-radius: 8px;
            }
        }

        &-flat {
            &,
            & .layer-image,
            & .layer-image-overlay {
                border-radius: 0 !important;

                &:focus-visible {
                    border-radius: 0 !important;
                }
            }
        }

        // @media #{$screen-size-lt-tablet} {
        //     &-flat-mobile {
        //         &,
        //         & .layer-image,
        //         & .layer-image-overlay {
        //             border-radius: 0 !important;
        //             &:focus-visible {
        //                 border-radius: 0 !important;
        //             }
        //         }
        //     }
        // }

        &-mid {
            min-height: 600px;
        }

        &-tall {
            width: 100%;
            height: auto;
            // max-height: 1600px;
        }
    }

    &-main {
        line-height: 2em;
        z-index: 25;
    }

    &-action-center {
        transition: opacity 0.4s ease-in-out;
        pointer-events: auto;
        font-size: 24px;
        position: fixed;
        bottom: 15px;
        z-index: 250;
        // width: 100%;
        right: 0;

        &-hide {
            pointer-events: none;
            opacity: 0;
        }

        &-show {
            pointer-events: auto;
            opacity: 1;
        }
    }

    &-next {
        background-color: $white;
        background-color: var(--very-light, $white);
        overflow: hidden;
        border-radius: 12px;
        &:focus-visible {
            border-radius: 12px;
        }

        // @media #{$screen-size-gt-tablet} {
        //     border-radius: 24px;
        //     &:focus-visible {
        //         border-radius: 24px;
        //     }
        // }

        .layer-title,
        .layer-content {
            color: $primary;
            color: var(--tertiary, $primary);
            text-align: center;
        }

        // @media #{$screen-size-phone} {
        //     .layer-content {
        //         font-size: 30px;
        //     }
        // }

        // @media #{$screen-size-gt-tablet} {
        //     margin-bottom: $size-extra-large;

        //     .layer-tile {
        //         margin-bottom: -$size-extra-large;
        //     }
        // }
    }

    &-capsule {
        overflow: hidden;
        z-index: 25;
        position: relative;
        border-radius: 12px;

        &-push {
            padding-top: 12rem;
        }

        &-pull {
            margin-top: -12rem;
        }
    }

    &-contrast {
        background-color: $white;
        background-color: var(--very-light, $white);
        contain: layout !important;

        .layer-title,
        .layer-content {
            color: $primary;
            color: var(--tertiary, $primary);
            text-align: center;
        }
    }

    // &-fieldset {
    //     $padding-x: 1.2em;
    //     // border: 1px solid gray;
    //     // @include applyTheme(border-color, "mid-light");
    //     position: relative;
    //     // border-radius: 4px;
    //     // padding: 0.8em 0.8em;
    //     vertical-align: middle;
    //     // height: 3em;
    //     width: 100%;
    //     margin-bottom: 2em;

    //     label {
    //         @include applyTheme(background-color, "invert-white");
    //         transition: transform ease 0.5s;
    //         position: absolute;
    //         display: block;
    //         top: 50%;
    //         align-self: center;
    //         line-height: 100%;
    //         transform: translateY(-50%) scale(1);
    //         margin-left: $padding-x - 0.25em * 2;
    //         padding: 0 0.25em;

    //         font-family: $bold-font;
    //         // letter-spacing: 0.0525em;
    //         font-size: 0.8rem;
    //         @include applyTheme(color, "mid-dark");
    //         // bottom: 38px;
    //     }

    //     input {
    //         border: 2px solid;
    //         @include applyTheme(border-color, "mid-dark");
    //         position: relative;
    //         border-radius: 3px;
    //         &:focus-visible {
    //             border-radius: 3px;
    //         }
    //         padding: 0.8em $padding-x;
    //         vertical-align: middle;
    //         width: 100%;

    //         // @include applyTheme(background-color, "background");
    //         @include applyTheme(background-color, "invert-white");
    //         @include applyTheme(color, "invert-black");
    //         outline: none;

    //         &:hover {
    //             @include applyTheme(border-color, "dark");
    //             & ~ label {
    //                 @include applyTheme(color, "dark");
    //             }
    //         }

    //         &[type="email"]:invalid {
    //             // :not(:placeholder-shown)
    //             color: red;
    //             border-color: red;

    //             & ~ label {
    //                 transform: translateY(-200%) scale(0.8);
    //                 color: red;
    //             }
    //         }
    //         &:valid ~ label,
    //         &.focused ~ label,
    //         &:focus ~ label {
    //             transform: translateY(-200%) scale(0.8);
    //             // top: 0;
    //         }

    //         &:focus ~ label {
    //             @include applyTheme(color, "primary");
    //         }

    //         &:focus {
    //             @include applyTheme(border-color, "primary");
    //         }

    //         &:valid ~ label,
    //         &.focused ~ label {
    //             // text-transform: uppercase;
    //             // font-style: italic;
    //         }

    //         &:-webkit-autofill,
    //         &:-webkit-autofill:hover,
    //         &:-webkit-autofill:focus,
    //         &:-webkit-autofill:active {
    //             // -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    //             // background: transparent;
    //             -webkit-box-shadow: 0 0 0 50px var(--invert-white) inset; /* Change the color to your own background color */
    //             // @include applyTheme(background-color, "invert-white");
    //             @include applyTheme(-webkit-text-fill-color, "primary-light");
    //         }
    //     }
    // }
}
