@use "./mixins.scss" as *;
@use "./base.scss" as *;
@use "./style.scss" as *;

/*
    -- Layer (represents a section of code that displays content) --
     * ".more" = is for the learn more buttons
*/

.image {
    z-index: 0;

    &,
    figure,
    &-overlay {
        @apply absolute top-0 left-0 overflow-hidden block h-full w-full;
    }

    img {
        @apply absolute top-0 left-0 overflow-hidden object-cover object-center h-full w-full;
    }

    &-overlay {
        transition: background-color #{$transitionDuration} ease;
        background-color: darken($primary-dark, 30%);
        opacity: 0.55;
        z-index: 25;
    }
}

.banner {
    @apply text-white;

    &.hero {
        @apply pt-20 px-2 sm:px-5;

        .image {
            @apply rounded-2xl overflow-hidden;
        }

        .container {
            @apply container max-w-screen-3xl;
        }

        h1 {
            @apply lg:text-7xl;
        }

        h2 {
            @apply lg:text-2xl;
        }
    }

    .container {
        @apply relative max-w-full;
    }

    .image-container,
    .layout {
        @apply container max-w-screen-lg;
    }

    .layout {
        @apply transform translate-y-5 px-6 md:px-12 flex flex-col;
    }

    .content {
        @apply py-20 sm:py-36 z-10;
    }

    h1 {
        @apply font-title font-900 text-3xl sm:text-5xl md:text-6xl mb-4;
        line-height: 1;

        @screen md {
            @apply leading-none mb-8;
        }
    }

    h2 {
        @apply font-regular text-base sm:text-lg md:text-xl leading-normal md:leading-relaxed;
        text-shadow: 0 0 theme("spacing.2") rgba(0, 0, 0, 0.3);
        font-weight: 500;
    }
}

.img-view {
    figure {
        @apply flex flex-col relative overflow-hidden justify-center;

        .img-view-contain {
            transition: background-color #{$transitionDuration} ease;
            transform: translate3d(0, 0, 0);
            background-color: #797886;
            @apply flex justify-center items-center relative;

            img {
                position: relative;
                object-fit: scale-down;
                object-position: center center;
                transform: scale(1);
            }

            .no-script-img {
                position: absolute;
                width: 100%;
                height: auto;
                top: 0;
                left: 0;
            }
        }

        figcaption {
            @apply italic text-xs;
        }
    }
}

html[theme="dark"] {
    .img-view .img-view-contain {
        background-color: #1d1c2b;
    }
}

.container {
    &-xl,
    &-lg {
        @apply container px-5 sm:px-8 py-12 sm:py-16 lg:py-16 leading-8 font-500;
    }

    &-lg {
        @apply max-w-screen-lg;
    }

    &-xl {
        @apply max-w-screen-xl;
    }
}

.capsule-layer {
    @apply z-10 relative;
    @apply px-2 sm:px-5;

    .layout {
        @include applyTheme(color, "white");

        @apply bg-gray-800 dark:bg-gray-700  shadow-xl;
        @apply relative overflow-hidden rounded-xl;
        @apply mx-auto w-full max-w-screen-xl;
        @apply px-6 md:px-16 py-2 md:py-5 leading-loose;

        transition: background-color #{$transitionDuration} ease,
            color #{$transitionDuration} ease;
    }
}

.capsule-offset {
    @apply pt-64 -mt-64;
}

.contrast-layer {
    transition: background-color #{$transitionDuration} ease,
        color #{$transitionDuration} ease;
    background-color: $white;
    background-color: var(--very-light, $white);
}

.col-grid {
    @apply -mx-2;

    & > * {
        @apply px-2 py-2;
    }

    a {
        @apply block;
    }
}

.signature-layer {
    .container-lg {
        @apply flex flex-col sm:flex-row sm:space-x-4 md:space-x-8 lt-sm:space-y-4 items-center;
    }

    img {
        object-position: top center;
    }
}

.stretch-layer {
    @apply flex flex-col h-screen;

    h1 {
        @apply text-3xl lg:text-5xl font-600 mb-8;
    }

    .container {
        @apply max-w-screen-lg text-center flex-1;
    }

    .layout {
        @apply flex flex-col items-center justify-around px-2 h-full;
    }

    @screen lg {
        .tile {
            min-height: 400px;
        }
    }

    img {
        object-position: center center;
    }
}

.about-layer {
    .container {
        @apply max-w-screen-lg pb-8 leading-8 font-500 px-2 sm:px-5;
    }

    h1 {
        @apply mb-5 sm:mb-12;
    }

    .tile {
        @apply sm:max-w-xs mb-5 sm:float-left sm:mr-5;
        height: 400px;

        @screen sm {
            height: 350px;
        }

        img {
            object-position: top center;
        }
    }
}

.tile {
    @apply relative block w-full rounded-xl overflow-hidden;
    height: 400px;

    @screen sm {
        min-width: theme("spacing.64");
        height: 500px;
    }
}

.blockquote-layer {
    @apply py-3;
    // @apply flex  lt-sm:flex-col;
    @apply flow-root;
}

blockquote {
    @extend .style-secondary;

    @apply sm:float-right sm:w-96 relative;
    @apply text-2xl flex items-center;
    @apply sm:ml-3 md:ml-8 lt-sm:mb-3 uppercase leading-normal font-800;
    transition: color ease #{$transitionDuration};

    &:before {
        position: absolute;
        content: "\🙶";
        opacity: 0.2;
        transform: translate(20px, 20px) scale(5);
        top: 0;
        left: 0;
    }
}

.bg {
    @include colorList(background-color);
}

.border {
    @include colorList(border-color);
}

.layer {

    .quote {
        line-height: 1;
        margin: 0;
        padding: 0;
        transform: translate(0, 0) rotate(180deg);
        position: absolute;
        left: -20px;
        top: -60px;
        z-index: 0;
        display: block;
    }

    &-joseph-img {
        position: relative;
        width: 500px;

        .layer-image-overlay {
            background-color: transparent !important;
            display: none;
        }

        &.left {
            // margin-bottom: $size;
        }
        // @media #{$screen-size-gt-tablet} {
        //     &.left {
        //         margin-right: $size;
        //     }
        // }

        // @media #{$screen-size-lt-tablet} {
        //     max-width: 100%;
        //     display: block;
        // }

        .placeholder-img {
            transform: scale(1) !important;
        }
    }

    &-tile {
        position: relative;
        min-height: 300px;
        display: block;
        width: 100%;

        &:hover {
            .core-img {
                transition: opacity 0.25s ease;
                opacity: 0;
            }
        }

        &-footer {
            transition: color #{$transitionDuration} ease;
            @include applyTheme(color, "white");
            @apply text-sm leading-relaxed px-5 py-4 font-400;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        &-title {
            transition: color #{$transitionDuration} ease;
            @include applyTheme(color, "white");
            @apply text-lg leading-loose font-600;
        }
    }

    &-box {
        position: relative;
        min-height: 300px;
        width: 100%;

        &,
        .layer-image {
            border-radius: 8px;
            &:focus-visible {
                border-radius: 8px;
            }
        }
    }

    &-next {
        transition: background-color ease #{$transitionDuration},
            color ease #{$transitionDuration};
        background-color: $white;
        background-color: var(--very-light, $white);

        text-align: center;
        overflow: hidden;
        border-radius: 12px;
        &:focus-visible {
            border-radius: 12px;
        }

        &,
        &:hover {
            color: $primary;
            color: var(--tertiary, $primary);
        }
    }

    &-capsule {
        overflow: hidden;
        z-index: 25;
        position: relative;
        border-radius: 12px;

        &-push {
            padding-top: 12rem;
        }

        &-pull {
            margin-top: -12rem;
        }
    }

    &-contrast {
        background-color: $white;
        background-color: var(--very-light, $white);
        contain: layout !important;

        .layer-title,
        .layer-content {
            color: $primary;
            color: var(--tertiary, $primary);
            text-align: center;
        }
    }
}
