/*
    -- Layout (margin, padding, postion, shape, etc...) --
     * vert = vertical
     * horz = horizontal
*/
.layout {
   position: relative;
   display: block;
   margin: 0 auto;
   width: 100%;

   &,
   &-vert {
      padding: {
         bottom: $size-extra-xl;
         top: $size-extra-xl;
      }
   }

   &,
   &-horz {
      padding: {
         right: $size-sub-extra-large;
         left: $size-sub-extra-large;
      }
   }

   /*
       -- Base Layouts (these tamper with all the layout setting and provide a great start for a layer) --
   */
   &-enlarge {
      &,
      &-vert {
         padding: {
            bottom: $size-gigantic;
            top: $size-gigantic;
         }
      }

      &,
      &-horz {
         padding: {
            right: $size-huge;
            left: $size-huge;
         }
      }
   }

   &-shorten {
      &,
      &-vert {
         padding: {
            bottom: $size-sub-large;
            top: $size-sub-large;
         }
      }

      &,
      &-horz {
         padding: {
            right: $size-sub-large;
            left: $size-sub-large;
         }
      }
   }

   @media (max-width: 500px) {
      &,
      &-vert {
         padding: {
            bottom: $size-sub-large;
            top: $size-sub-large;
         }
      }

      &,
      &-horz {
         padding: {
            right: $size-sub-large;
            left: $size-sub-large;
         }
      }

      &-enlarge {
         &,
         &-vert {
            padding: {
               bottom: $size-extra-large;
               top: $size-extra-large;
            }
         }

         &,
         &-horz {
            padding: {
               right: $size-larger;
               left: $size-larger;
            }
         }
      }

      &-shorten {
         &,
         &-vert {
            padding: {
               bottom: $size;
               top: $size;
            }
         }

         &,
         &-horz {
            padding: {
               right: $size;
               left: $size;
            }
         }
      }

      &-shrink {
         &,
         &-vert {
            padding: {
               bottom: $size-sub-large !important;
               top: $size-sub-large !important;
            }
         }

         &,
         &-horz {
            padding: {
               right: $size-sub-large !important;
               left: $size-sub-large !important;
            }
         }

         &-shorten {
            &,
            &-vert {
               padding: {
                  bottom: $size !important;
                  top: $size !important;
               }
            }

            &,
            &-horz {
               padding: {
                  right: $size !important;
                  left: $size !important;
               }
            }
         }

         &-mini {
            &,
            &-vert {
               padding: {
                  bottom: $size-small !important;
                  top: $size-small !important;
               }
            }

            &,
            &-horz {
               padding: {
                  right: $size-small !important;
                  left: $size-small !important;
               }
            }
         }
      }
   }

   /* -- Layout Type (block, inline-block, inline, flex) -- */
   &-block {
      display: block !important;
   }

   &-flex {
      display: flex !important;

      &-center {
         justify-content: center;
         align-content: center;
         align-items: center;
      }

      &-wrap {
         flex-wrap: wrap;
      }

      &-row {
         flex-direction: row;
      }

      &-col {
         flex-direction: column;
      }
   }

   &-align-items {
      &-start {
         align-items: flex-start;
      }

      &-center {
         align-items: center;
      }

      &-stretch {
         align-items: stretch;
      }

      &-end {
         align-items: flex-end;
      }
   }

   &-justify-content {
      &-start {
         justify-content: start;
      }

      &-center {
         justify-content: center;
      }
   }

   &-spacer {
      -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
      -webkit-flex: 1; /* Safari 6.1+. iOS 7.1+, BB10 */
      -ms-flex: 1; /* IE 10 */
      flex: 1;
   }

   &-inline {
      display: inline !important;

      &-block {
         display: inline-block !important;
      }
   }

   /* -- Position (horizontal - left, center, right) -- */
   &-left {
      position: relative;
      float: left;
   }

   &-center {
      position: relative;
      margin: 0 auto;
      width: 100%;
   }

   &-right {
      position: relative;
      float: right;
   }

   /* -- Container (keep the page focused and content central) -- */
   &-contain {
      &,
      &-large,
      &-small {
         margin: 0 auto;
         width: 100%;
      }

      &-small {
         max-width: 550px;
      }

      @media (min-width: 300px) {
         &-slim {
            padding: {
               left: 0;
               right: 0;
            }
         }
      }

      @media (min-width: 650px) {
         .layout-row {
            margin: {
               right: -$size-small;
               left: -$size-small;
            }
         }
      }

      @media (min-width: 800px) {
         &,
         &-large {
            max-width: 800px;
         }
      }

      @media (min-width: 900px) {
         &-small {
            max-width: 700px;
         }

         &,
         &-large {
            max-width: 1000px;
         }
      }

      @media (min-width: 1000px) {
         &-large {
            max-width: 1200px;
         }
      }
   }

   /*
    -- Paddings & Margins (create padding & margin defaults for left, top, right, bottom, small, mid, large, etc...[these can be conbined to make cool paddings and margins without css]) --
     * dull = the value is 0
   */
   $spaceTypes: ("margin", "padding");
    @each $spacing in $spaceTypes {
        &-#{$spacing} {
            $spacing-parent: &;
            #{$spacing}: {
                bottom: $size;
                right: $size;
                left: $size;
                top: $size;
            };

            @each $type, $val in $sizes {
                &-#{$type} {
                    $type-parent: &;
                    $basic-dirs: (
                        "horz": ("left", "right"),
                        "vert": ("top", "bottom")
                    );

                    @each $basic-dir, $dirs in $basic-dirs {
                        &,
                        &-#{$basic-dir} {
                            @each $dir in $dirs {
                                &,
                                &-#{$dir} {
                                    #{$spacing}-#{$dir}: $val;
                                }

                                @at-root #{$spacing-parent}-#{$type},
                                    #{$spacing-parent}-#{$type}-#{$dir},
                                    #{$type-parent}-#{$basic-dir}-#{$dir},
                                    #{$type-parent}-#{$dir}-#{$basic-dir},
                                    #{$spacing-parent}-#{$basic-dir}-#{$type},
                                    #{$spacing-parent}-#{$basic-dir}-#{$type}-#{$dir},
                                    #{$spacing-parent}-#{$basic-dir}-#{$dir}-#{$type} {
                                    #{$spacing}-#{$dir}: $val;
                                }
                            }
                        }
                    }
                }

                // Padding sizes
                &-small {
                    #{$spacing}: {
                        bottom: $size-small;
                        right: $size-small;
                        left: $size-small;
                        top: $size-small;
                    }

                    &-horz {
                        padding-right: $size-small;
                        padding-left: $size-small;
                    }
                }
            }

            /* -- Horizontal Padding -- */
            &,
            &-horz {
                #{$spacing}-right: $size;
                #{$spacing}-left: $size;

                &-small {
                    #{$spacing}-right: $size-small;
                    #{$spacing}-left: $size-small;
                }

                &-mid {
                    #{$spacing}-right: $size-mid;
                    #{$spacing}-left: $size-mid;
                }

                &-large {
                    #{$spacing}-right: $size-large;
                    #{$spacing}-left: $size-large;
                }

                &-left {
                    #{$spacing}-left: $size;
                }

                &-right {
                    #{$spacing}-right: $size;
                }

                &-left-small,
                &-small-left {
                    #{$spacing}-left: $size-small;
                }

                &-right-small,
                &-small-right {
                    #{$spacing}-right: $size-small;
                }

                &-left-mid,
                &-mid-left {
                    #{$spacing}-left: $size-mid;
                }

                &-right-mid,
                &-mid-right {
                    #{$spacing}-right: $size-mid;
                }

                &-left-large,
                &-large-left {
                    #{$spacing}-left: $size-large;
                }

                &-right-large,
                &-large-right {
                    #{$spacing}-right: $size-large;
                }
            }

            /* -- Vertical Padding -- */
            &,
            &-vert {
                #{$spacing}-bottom: $size;
                #{$spacing}-top: $size;

                &-small {
                    #{$spacing}-bottom: $size-small;
                    #{$spacing}-top: $size-small;
                }

                &-mid {
                    #{$spacing}-bottom: $size-mid;
                    #{$spacing}-top: $size-mid;
                }

                &-large {
                    #{$spacing}-bottom: $size-large;
                    #{$spacing}-top: $size-large;
                }

                &-top {
                    #{$spacing}-top: $size;
                }

                &-bottom {
                    #{$spacing}-bottom: $size;
                }

                &-top-small,
                &-small-top {
                    #{$spacing}-top: $size-small;
                }

                &-bottom-small,
                &-small-bottom {
                    #{$spacing}-bottom: $size-small;
                }

                &-top-mid,
                &-mid-top {
                    #{$spacing}-top: $size-mid;
                }

                &-bottom-mid,
                &-mid-bottom {
                    #{$spacing}-bottom: $size-mid;
                }

                &-top-large,
                &-large-top {
                    #{$spacing}-top: $size-large;
                }

                &-bottom-large,
                &-large-bottom {
                    #{$spacing}-bottom: $size-large;
                }
            }
        }
    }

   /* -- Clearfix (fix for using float) -- */
   &-clearfix:after,
   &-clearfix:before,
   &-contain:after,
   &-contain:before,
   &-contain-small:after,
   &-contain-small:before,
   &-row:after,
   &-row:before {
      display: table;
      content: "";
      clear: both;
   }

   /* -- Rows & Columns -- */
   &-row {
      flex-flow: row wrap;
      display: flex;

      [class*="layout-col"] {
         position: relative;
         min-height: 1px;
         max-width: 100%;
         width: 100%;

         @media (min-width: 550px) {
            padding-right: $size-small;
            padding-left: $size-small;
         }
      }

      .layout-col {
         max-width: 100%;
         flex-basis: 0;
         flex-grow: 1;

         @for $i from 1 through 12 {
            &-#{$i} {
               max-width: 100% / 12 * $i;
               @media (max-width: 750px) {
                  @if $i >= 6 {
                     max-width: 100%;
                  }
               }

               @media (max-width: 750px) {
                  @if $i < 6 {
                     max-width: 50%;
                  }
               }

               @media (max-width: 550px) {
                  max-width: 100%;
               }
            }
         }
      }
   }
}