@use "./mixins.scss" as *;
@use "./layout.scss" as *;

/* -- Header -- */
.navbar {
    @apply w-full h-16 fixed left-0 top-0;
    z-index: 100;

    &-top-spot {
        @apply pt-20;
    }

    &-layout {
        @include applyTheme(background-color, "background");
        @apply flex items-center justify-between relative;
        @apply px-8;

        &,
        &:before {
            @apply container max-w-screen-1.5xl h-16;
            @apply rounded-br-2xl rounded-bl-2xl;
        }

        &:before {
            transition: background-color #{$transitionDuration} ease,
                opacity 0.25s ease-out;
            box-shadow: 0 5px 15px rgba(0, 0, 50, 0.08);
            @include applyTheme(background-color, "surface");
            @apply absolute block w-full h-full opacity-0 left-0 top-0;
            content: "";
        }
    }

    &-focus,
    &-show,
    &:hover {
        .navbar-layout:before {
            opacity: 1;
        }

        .title-line {
            border-left-color: darken($background, 14%);
            border-left-color: var(--light, darken($background, 14%));
        }
    }

    &-head {
        @apply flex items-center justify-between relative align-middle;
        line-height: theme("spacing.16");
    }

    &-title {
        transition: color #{$transitionDuration} ease;
        letter-spacing: 0.03em;

        @include applyTheme(color, "dark");

        @apply p-2;
        @apply flex relative items-center;
        @apply text-base font-bold font-700 whitespace-nowrap;

        img {
            @apply w-auto h-5 inline-block align-middle;
            min-height: theme("spacing.5");
        }

        &:hover {
            @include applyTheme(color, "primary-dark");
        }

        &:focus {
            @include applyTheme(color, "dark");
        }

        &,
        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
        }

        .title-line {
            transition: border #{$transitionDuration} ease;

            border-left: 1px solid darken($background, 14%);
            border-left-color: var(--light, darken($background, 14%));
            @apply mx-2 h-3 inline-block align-middle;
        }
    }

    &-main {
        z-index: 1;
        @apply relative items-center flex-nowrap flex;
    }

    &-link {
        transition: color #{$transitionDuration} ease, visibility 0.7s ease,
            opacity 0.35s ease;
        text-transform: uppercase;
        text-decoration: none;
        visibility: visible;
        opacity: 1;

        color: $black;
        @include applyTheme(color, "dark");
        @apply font-700 text-sm tracking-wide;
        @apply w-full px-5;
        line-height: theme("spacing.10");

        .link-content {
            @apply relative inline-block;

            &:after {
                transition: transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94),
                    background-color #{$transitionDuration} ease;
                @apply absolute bottom-0.5 left-0 transform scale-x-0;
                @include applyTheme(background-color, "primary-dark");
                border: 1px solid transparent;
                transform-origin: 100%;
                transition-delay: 70ms;
                border-radius: 10px;
                display: block;
                height: 3px;
                width: 100%;
                content: "";
            }
        }

        &:hover,
        &:focus,
        &.active {
            text-decoration: none;
            @include applyTheme(color, "dark");

            .link-content:after {
                @apply transform scale-x-100;
                transform-origin: 0;
            }
        }

        &:focus {
            color: $primary;
            @include applyTheme(color, "primary-dark");
        }

        &.active {
            &,
            &:focus {
                @include applyTheme(color, "primary-dark");
            }
        }
    }

    &-btn {
        transition: color #{$transitionDuration} ease,
            background-color 0.45s ease;
        @apply ml-3 w-10 h-10 rounded-md;
        @include applyTheme(background-color, "light");

        svg {
            @apply inline-block text-2xl;
        }

        &:hover {
            @include applyTheme(background-color, "light");
        }

        &,
        &:hover,
        &:focus {
            color: $primary;
            color: var(--dark, $primary);
            @apply outline-none;
        }
    }

    &-foot {
        visibility: hidden;
    }

    &-mobile-only {
        display: block;
    }

    &-overlay {
        @apply bg-gray-300 dark:bg-gray-900 bg-opacity-70 dark:bg-opacity-80;
        transition: background-color #{$transitionDuration} ease,
            opacity #{$transitionDuration} ease;
        @apply absolute top-0 left-0 w-screen h-screen;
        opacity: 0;
        pointer-events: none;
        z-index: -1;

        @supports (backdrop-filter: blur(5px)) {
            @apply backdrop-filter backdrop-blur;
        }
    }

    // Mobile navbar settings
    @screen lt-sm {
        &-mobile-only {
            display: none;
        }

        &-layout,
        &-main {
            flex-direction: column;
        }

        &-layout {
            &,
            &:before {
                @apply px-0 rounded-none;
            }
        }

        &-layout:before,
        &-head {
            z-index: 25;
        }

        &-head {
            @apply flex items-center justify-between relative align-middle;
            @apply px-3 w-full h-16 leading-none;
        }

        &-main {
            transition: transform 0.35s cubic-bezier(0.61, 1, 0.88, 1),
                background-color #{$transitionDuration} ease;
            transform: translate3d(0, -100%, 0);
            @apply px-2 w-full rounded-bl-xl rounded-br-xl;
            @apply py-2 space-y-2;
            z-index: -1;

            background-color: lighten($very-light, 2%);
            @include applyTheme(background-color, "very-light");
        }

        &-link {
            transition: color 0.25s ease, background-color 0.25s ease,
                visibility 0.5s ease, opacity 0.3s ease;
            visibility: hidden;
            opacity: 0;

            &:hover {
                @include applyTheme(background-color, "navbar-gray");
            }

            &.active {
                @include applyTheme(background-color, "primary-dark");
                &,
                &:hover,
                &:focus-visible {
                    @include applyTheme(color, "invert-white");
                }

                &:hover {
                    @include applyTheme(background-color, "primary");
                }
            }

            &:hover,
            &:focus,
            &.active {
                .link-content:after {
                    @apply transform scale-x-0;
                }
            }
        }

        &-foot {
            @apply flex items-center relative align-middle;
            @apply h-16 space-x-1;
            visibility: visible;
        }

        &-show {
            .navbar-head {
                box-shadow: none;
            }

            .navbar-main {
                box-shadow: 0 2px 15px rgba(0, 0, 50, 0.08);
                transform: translate3d(0, 0, 0);
            }

            .navbar-link {
                transition: color 0.25s ease, background-color 0.25s ease,
                    visibility 0.5s ease, opacity 0.4s ease 0.1s;
                visibility: visible;
                opacity: 1;
            }

            .navbar-overlay {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }
}
