/* -- Styles (only affect text) -- */
.style {
   $styleParent: &;
   &, &-font {
      @each $name, $family in $fonts {
         &-#{$name}, &-#{$name}-font, &-family-#{$name}  {
            font-family: #{$family};
         }
      }

      &, &-sz, &-size {
         font-size: 14px;

         @for $sz from 8 through 150 {
            &-#{$sz} {
               font-size: #{$sz}px;
            }
         }
      }

      @include propertyList(font-size, "sz", $sizes);

      &, &-weight {
         font-weight: 400;

         $fontWeight: (200, 300, 400, 500, 600, 700, 800, 900);
         @each $weight in $fontWeight {
            &-#{$weight} {
               font-weight: #{$weight};
            }
         }

         &-bolder {
            font-weight: 900;
         }

         &-bold {
            font-weight: 700;
         }

         &-regular {
            font-weight: 600;
         }

         &-thin {
            font-weight: 300;
         }

         &-thiner {
            font-weight: 100;
         }
      }

      &-italic {
         font-style: italic;
      }

      &-underline {
         text-decoration: underline;
      }
   }

   &-spaceout,
   &-letter-spacing {
      letter-spacing: 3px;

      &-none {
         letter-spacing: 0;
      }

      &-small {
         letter-spacing: 1px;
      }

      &-double {
         letter-spacing: 2px;
      }

      &-large {
         letter-spacing: 7px;
      }

      @for $space from 0 to 150 {
         &-#{$space} {
            letter-spacing: #{$space}px;
         }
      }
   }

   &-line-height {
      line-height: 1.5em;

      &-none {
         line-height: 0;
      }

      &-small {
         line-height: 1;
      }

      &-double {
         line-height: 2em;
      }

      &-large {
         line-height: 3em;
      }

      @for $height from 8 through 150 {
         &-#{$height} {
            line-height: #{$height}px;
         }
      }
   }

   &, &-align {
      &-left {
         text-align: left;
      }

      &-center {
         text-align: center;
      }

      &-right {
         text-align: right;
      }
   }

   &, &-transform {
      &-capital {
         text-transform: capitalize;
      }

      &-uppercase {
         text-transform: uppercase;
      }

      &-lowercase {
         text-transform: lowercase;
      }
   }

   @include colorList;
}

