/*! purgecss start ignore */
.transition {
    &-fade {
        transition: opacity .5s ease;
        opacity: 1;

        .is-animating & {
            opacity: 0 !important;
        }
    }

    &-in-view {
        transition: opacity .5s ease, transform .4s ease 0.1s;
        transform: translate3d(0, 0, 0);
        opacity: 1;

        .is-animating & {
            opacity: 0 !important;
        }

        html.is-animating.at-top & {
            transform: translate3d(0, -25px, 0) !important;
        }
    }
}
/*! purgecss end ignore */
