/*! purgecss start ignore */
.transition-fade {
    transition: opacity 0.2s ease 0s, transform 0.4s ease 0.1s;
    transform: translateY(0px);
    opacity: 1;

    .is-animating & {
        transform: translateY(-20px) !important;
        opacity: 0 !important;
    }
}
/*! purgecss end ignore */
