/*! purgecss start ignore */
.transition-fade {
    transition: opacity .55s ease-out, transform .55s ease-out;
    transform: translateY(0px);
    opacity: 1;

    .is-animating & {
        transform: translateY(35px) !important;
        opacity: 0 !important;
    }
}
/*! purgecss end ignore */
