include ./content.pug

mixin header(_page)
  - let page = _page || page;
  - let _tabs = page.tabs && page.tabs.values || [];
  - let _name = (page.name || "").toLowerCase();

  header.header
    nav.navbar.navbar-fixed
      article.layout-contain.navbar-layout
        section.navbar-head
          +link({
            href: "/" + (dev && staticSite ? "index.html" : ""),
            class: "navbar-title",
            content: "JOSEPH!"
          })
          section.layout-spacer
          section.navbar-foot.navbar-mobile
            button.navbar-menu.btn.layer-round.layout-padding-smaller.layer-transparent.layer-secondary-hover.style-secondary.style-hover-black(tabindex='1', type='button' title="Menu Bar")
              span.btn-group
                i.navbar-menu.icon.style-font-family-bold.style-black.style-font-sz-24 menu

        section.layout-spacer.navbar-desktop
        section.navbar-main
          ul.navbar-list#swup
            each tab in _tabs
              - let _link = tab.a;
              - let _href = _link.href;
              - let _content = _link.content;
              - let _class = _name == _content ? "navbar-link-focus" : "";

              li
                a.navbar-link(href=_href class=_class data-swup-preload)= _content
