include ./content.pug

mixin hero(value)
  - let _value = value || { img: {}, title: "Title", };
  - let _title = _value.title;
  - let _image = _value.img;

  section.layer
    article.layout-contain.layout-padding-horz-small.layout-padding-bottom.layout-padding-dull-top
      .layer-hero
        +image(_image)

        section.layout-enlarge
          .layer-content.style-center
            section.layer-header
            section.layer-main
              h1.style-font-title.layer-title.style-white= _title

              button.next-layer.btn.layer-round.layout-padding-small.layer-white.layer-shadow.layer-secondary-hover.style-secondary.style-hover-black.layer-hero-scroll-down(tabindex='1', type='button')
                span.btn-group
                  i.icon.style-font-sz-36 expand_more

