include ./content.pug

mixin hero(value)
  - let _value = value || { img: {}, title: "Title", };
  - let _title = _value.title;
  - let _image = _value.img;

  section.layer
    article.layout-contain-large.layout-padding-horz-small.layout-padding-bottom.layout-padding-dull-top
      .layer-hero
        +image(_image)

        section.layout-enlarge.layout-flex.layout-align-items-center.layout-justify-content-center
          .layer-content.style-center
            section.layer-header
            section.layer-main
              h1.style-font-title.layer-title.style-white.style-font-weight-bolder= _title

            section.layer-footer.layout-align-self-end
              a.btn.layer-round.layout-padding-small.layer-tertiary.layer-shadow.layer-secondary-hover.style-secondary.style-hover-tertiary.layer-hero-scroll-down(tabindex='0', type='button')
                span.btn-group
                  i.icon.style-font-sz-36 expand_more
