include ./link.pug
include ./image.pug

mixin navbar(value = {})
  - let { name } = value;
  - let _class = value.class;

  - let tabs = ["about", "projects", "contact"];
  - let focusIndex = tabs.indexOf(name.toLowerCase());

  header.header
    nav.navbar.navbar-fixed(class=_class)
      .layout-contain-large.navbar-layout
        .navbar-head
          +link({
            href: "/" + (dev ? "index.html" : "index"),
            class: "navbar-title style-primary style-primary-dark-hover style-primary-focus"
          })
            img.navbar-logo(src="/assets/gear-svg-icon-logo-color-2.svg" alt="The Joseph Ojo logo." inline)
            span.navbar-title-line
            span JOSEPH!
          .layout-spacer
          .navbar-foot.navbar-mobile
            .layout-inline-block
              a.navbar-menu.btn.layer-round.layout-padding-smaller.layer-transparent.layer-light-hover.style-primary.style-hover-primary.style-focus-primary(title="Menu Bar")
                span.btn-group
                  i.icon.style-font-family-bold.style-font-sz-24(inline) menu

        .layout-spacer.navbar-desktop
        .navbar-main
          ul.navbar-list
            each tab, i in tabs
              li
                a.navbar-link(href=`/${tab}` class=`${i == focusIndex ? "navbar-link-focus" : ""}`)
                  span.navbar-link-content= tab
