mixin p(value = {})
  if typeof value == "string"
    p.style-line-height-double.layout-padding-vert-small !{value}
      block

  else
    - let { content, type } = value;
    - let _class = value.class;

    p(class=_class) !{content}
      block
