mixin banner(value = {})
  - let { content, title, image, mode = "hero" } = value;

  .banner(class=mode)
    .contain
      .image-container
        +image(
          Object.assign({
            loading: "eager"
          }, image)
        ).effect-parallax

      .layout
        header.content
          h1(itemprop="headline")= title
          h2.style-off-blue(itemprop="description")!= content
        +scroll-down
