include /components/image.pug

mixin scrolldown
  #scroll-down
    button.btn.btn-hover
      .btn-layout
        .icon-btn
          +icon("expand_more").icon
        .btn-content Scroll Down

mixin banner(value = {})
  - let { content, title, image, mode = "hero" } = value;

  .banner(class=mode)
    .container
      .image-container
        +image(image).effect-parallax

      .layout
        header.content
          h1(itemprop="headline")= title
          h2.style-off-blue(itemprop="description")!= content
        +scrolldown
