mixin back-to-top
  #to-top
    button.btn.btn-hover
      .btn-layout
        .btn-content Back To Top
        .icon-btn
          +icon("expand_less").icon

mixin scroll-down
  #scroll-down
    button.btn.btn-hover
      .btn-layout
        .icon-btn
          +icon("expand_more").icon
        .btn-content Scroll Down