mixin footer
  .footer
    .container
      #copyright
        +icon("copyright").icon
        |  2021 Joseph Ojo

      #social-links
        +link({
          href: "/sitemap",
          content: "Sitemap"
        })
        |  - 
        +link({
          href: "https://www.linkedin.com/in/o-josephojo/",
          content: "LinkedIn"
        })(target="_blank" rel="noopener")
        |  - 
        +link({
          href: "https://github.com/josephojo",
          content: "Github"
        })(target="_blank" rel="noopener")
        |  - 
        +link({
          href: "mailto:laoluojo@gmail.com",
          content: "Email"
        })(target="_blank" rel="noopener")

      #design-by
        | Designed by 
        +link({
          href: "https://github.com/okikio",
          content: "Okiki Ojo"
        })(target="_blank" rel="noopener")
