mixin footer
  .footer
    .container
      #copyright
        +icon("copyright").icon
        |  2021 Joseph Ojo

      #social-links.space-x-2
        +link("/sitemap") Sitemap
        //- |  - 
        +link("https://www.linkedin.com/in/o-josephojo/") LinkedIn
        //- |  - 
        +link("https://github.com/josephojo") Github
        //- |  - 
        +link("mailto:laoluojo@gmail.com") Email

      #design-by
        | Designed by 
        +link("https://okikio.dev") Okiki Ojo
