include /components/link.pug
include /components/image.pug

mixin themeSwitcher()
  button.theme-switcher.navbar-btn(title="Theme Switcher")
    +icon("theme switcher").icon

mixin navbar(value = {})
  - let { url } = value;
  - let _class = value.class;

  - let tabs = ["about", "portfolio", "contact"];

  nav.navbar(aria-label="Main Navigation")
    .navbar-overlay
    .navbar-layout
      .navbar-head
        +link.navbar-title(data-swup-preload)
          img(src="/favicon/favicon.svg" alt="Logo." itemprop="logo" width="20px" height="20px" loading="eager")
          .title-line
          | JOSEPH OJO
        .navbar-foot
          +themeSwitcher
          button.navbar-menu.navbar-btn(title="Menu Button")
            +icon("menu").icon

      .navbar-main
        each tab, i in tabs
          - let active = url.toLowerCase().includes(tab);
          +link(`/${tab}`)(data-swup-preload data-path=tab class="navbar-link" class={ active })
            span.link-content= tab.replace("-", " ")
        .navbar-mobile-only
          +themeSwitcher
