mixin p(value = {})
	if typeof value == "string"
		p.padding-y-small.margin-dull.inline.style-font-15--device-lt-tablet.style-font-17--device-gt-tablet !{value}
			block

	else
		- let { content } = value;
		- let _class = value.class || "style-font-15--device-lt-tablet style-font-17--device-gt-tablet";

		p.margin-dull(class=_class) !{content}
			block
