mixin tile(value = {})
  - let { title, content, image } = value;
  - let _class = value.class;

  .layer-tile(class=_class)
    if image
      +image(image)

    .layer-tile-footer
      if title
        .layer-tile-title.font-600= title

      if content
        .layer-tile-content= content
