include /components/image.pug

mixin tile(value = {})
  - let { title, content, image } = value;
  - let _class = value.class;

  .layer-tile(class=_class)
    if image
      +image(image)

    .layer-tile-footer
      if title
        .layer-tile-title.style-bold= title

      if content
        .layer-tile-content.layout-padding-top-small.style-line-height-spaced.style-font-14= content
