extends /layout.pug

block pageInfo
  -
    let page = {
      url: "/projects/boxer",
      name: "boxer",
      title: "Boxer — An autonomous robotic platform",
      description: "Boxer is a research platform design and built by myself and some other members of my research lab. The project started in late 2019 with some basic plans and really took off in 2020. The mobile robotic platform features several interesting designs that allow research on both its hardware and its software."
    };

block banner
  +banner({
    title: "Project 2: Boxer (2019 - 2021)",
    content: "Boxer is a robotic platform designed as an autonomous delivery vehicle and built for research purposes.",
    image: {
      src: "cloudinary/joseph-projects/boxer/04_ADR_RenderProj_3",
      alt: "An image of a rendered robot."
    },
    mode: "banner"
  })

block content
  .container-lg
    .style-letter-head B
    | oxer is an autonomous robotic platform very similar to a conventional vehicle due to its ackerman steering design, and independent suspension. The project initially started as a platform to move material from one building to another but has since been repurposed as a test platform for new research performed at 

    +link("https://www.xianke-lin.com/") Linlab
    |  at Ontario Tech University.

    br
    br
    | At only 1.2 m x 0.8 m (46” x 30”), the platform can be both an indoor and outdoor vehicle. It boasts a sensor suite that will enable autonomy in the near future. These include, 6 cameras, four of which are assembled together with a 2D lidar in a craftly-named package called the lighthouse. There are also 8 ultrasonics, an inertial measurement unit (IMU), a GPS module and many more. A 2.35kWh battery pack has also been designed internally to power the vehicle.
    br
    br
    +img-view({
      src: "cloudinary/joseph-projects/boxer/TheLighthouse",
      alt: "The Lighthouse consisting of 4 cameras and a 2D Lidar"
    })(width="860px" height="540px")
    br
    | With its 4 independent wheels, it can comfortably hold as much as an average human being (75 kg).  Four independent wheels also allow for 3 different drive configurations, front wheel, rear wheel and all-wheel drive.
    br
    br
    figure.text-center
      video.w-full(controls preload="metadata" poster="https://res.cloudinary.com/okikio-assets/video/upload/v1623196482/joseph-projects/boxer/WheelAssembly_Edit.jpg" name='media' loading="lazy")
        source(src='https://res.cloudinary.com/okikio-assets/video/upload/f_auto,q_auto/v1623196482/joseph-projects/boxer/WheelAssembly_Edit.mp4' type='video/mp4')

      figcaption.italic Vehicle Wheel Assembly
    br
    | Due to space restrictions, hub motors were used and in doing so, a Five-link suspension design was implemented on both the front and rear wheels to ensure proper handling.
    br
    br
    | I am no longer part of this beautiful project but have since moved on to something even more exciting (#[+link("https://reindeere.ca") Reindeere Robotics]).
    br
    br
    figure.text-center
      video.w-full(controls preload="metadata"  poster="https://res.cloudinary.com/okikio-assets/video/upload/v1623362278/joseph-projects/boxer/Boxer_Moving.jpg"  name='media' loading="lazy")
        source(src='https://res.cloudinary.com/okikio-assets/video/upload/f_auto,q_auto/v1623362278/joseph-projects/boxer/Boxer_Moving.mp4' type='video/mp4')

      figcaption.italic Boxer on the move
    br
    br
    figure.text-center
      //- video.w-full(controls preload="metadata"  poster="https://res.cloudinary.com/okikio-assets/video/upload/v1623362278/joseph-projects/boxer/Boxer_Moving.jpg"  name='media' loading="lazy")
      //-   source(src='https://res.cloudinary.com/okikio-assets/video/upload/f_auto,q_auto/v1623362278/joseph-projects/boxer/Boxer_Moving.mp4' type='video/mp4')
      lite-youtube.mx-auto(videoid="wAD9aOm3C_I" playlabel="Boxer on the move")
      figcaption.italic Boxer on the move

  //- Next page layer
  +next-page("Li-ion Battery Pack", "Battery Manager")