extends /layout.pug

block banner
  +banner({
    title: "Bridging the Gap",
    content: "Bringing Hardware and Software to life.",
    image: {
      src: "cloudinary/suspension-bridge",
      alt: "An image of a close up photo of a suspension bridge. By @osmanrana on unsplash."
    },
  })


block content
  .container-lg
    h3.layer-title Hi, I’m Olaoluwa [Joseph]
    | For about a decade now, I have actively sought to leave the state of things better than I found it. I am a Mechatronics engineer at heart and on paper. I integrate hardware and software into harmonious alliance to solve societal pain points.

    br
    br  

    .blockquote-layer
      blockquote The game is not changed until the game is played.

      | I am always on my feet looking for the next opportunity. Through continuous improvement, determination, and a foresight of opportunity, I seek to achieve my goals. The game isn’t changed until the game is played.

  //- Skills Column layer
  .capsule-layer
    .layout
      h3.layer-title Tools of the trade
      .row.seperate-tools
        .col-6
          h4.underline Hardware Development Tools
          ul
            - let arr =  [ "SolidWorks", "NX Siemens", "KiCAD", "Fritzing", "NI MultiSim", "LTSpice", "Arduino"];
            - for (let i = 0; i < arr.length; i ++) {
              li= arr[i]
            - }

        .col-6
          h4.underline Software Development Tools
          ul
            - arr =  ["C++", "Python", "Matlab & Simulink", "Visual Studio", "Robot Operating System (ROS)", "Arduino", "Keras", "Anaconda"];
            - for (let i = 0; i < arr.length; i ++) {
              li= arr[i]
            - }

  //- Image Column layer
  .capsule-offset.contrast-layer
    .container-xl
      .container.max-w-screen-lg.pb-8
        h3.layer-title Recent Activities
        | Here are some of the projects I have worked on. These include some ongoing and finished research projects, personal projects, as well as some old school and work projects I think you should know about.

      .row.col-grid
        .col-8
          +link("/projects/li-ion-battery-pack")
            +tile({
              title: "Lithium-ion Battery Pack",
              content: "This robotic battery pack was built for a commercial mobile robot (not Boxer) using more than 200 Lithium-ion cells. It includes safety features, signal measurement, and cell balancing.",
              class: "layer-box layer-surface block layer-tile-outline tile-slidable",
              image: {
                src: "cloudinary/joseph-projects/li-ion-battery-pack/FinalPack_Iso_Beauty",
                alt: "An image of the 3D CAD renders of the battery pack in an isometric perspective.",
              }
            })

        .col-4
          +link("/projects/boxer")
            +tile({
              title: "Boxer",
              content: "Boxer is a robotic platform designed as an autonomous delivery vehicle and built for research purposes.",
              class: "layer-box layer-surface block layer-tile-outline tile-slidable",
              image: {
                src: "cloudinary/joseph-projects/boxer/04_ADR_RenderProj_3",
                alt: "An image of a rendered robot."
              }
            })

        .col-4
          +link("/projects/battery-manager")
            +tile({
              title: "Battery Manager",
              content: "The battery manager is a testing tool built to perform a multitude of experiments on battery cells and packs of different sizes.",
              class: "layer-box layer-surface block layer-tile-outline tile-slidable",
              image: {
                src: "cloudinary/joseph-projects/battery-manager/BatteryTester_Diag",
                alt: "An image of the battery testing workstation box.",
              }
            })

        .col-4
          +link("/projects/sarbot")
            +tile({
              title: "Search and Rescue Robot (SarBot)",
              content: "SarBot was a semi-autonomous robotic project in my final year as an undergrad. The objective was to emulate a search and rescue (SaR) operation for a miner trapped underground.",
              class: "layer-box layer-surface block layer-tile-outline tile-slidable",
              image: {
                src: "cloudinary/joseph-projects/sarbot/3D_Modelling",
                alt: "An image of a 3D model of Sarbot.",
              }
            })

        .col-4
          +link("/projects/ultima-apparel")
            +tile({
              title: "Ultima Apparel",
              content: "Ultima Apparel was a company started to reduce the occurrence of lower back and shoulder injuries in labor intensive jobs using a motion capture wearable.",
              class: "layer-box layer-surface block layer-tile-outline tile-slidable",
              image: {
                src: "cloudinary/joseph-projects/ultima-apparel/Proof_of_Concept_1",
                alt: "An image of Ultima Apparels first proof of concept.",
              }
            })

        .col-6(class="sm:col-4")
          +link("/projects/phoenix")
            +tile({
              title: "Phoenix",
              content: "As part of my job as an engineering intern at Celestica, one of my projects was the design of a new solar panel frame cheaper and more reliable than previous versions.",
              class: "layer-box layer-surface block layer-tile-outline tile-slidable",
              image: {
                src: "cloudinary/joseph-projects/phoenix/New_Solar_Panel_1-03",
                alt: "An image of Joseph Ojo holding a large pane of Solar Panels.",
              }
            })

        .col-6(class="sm:col-8")
          +link("/projects/publications")
            +tile({
              title: "Publications",
              content: "A list of publications I completed while studying for my masters at Ontario Tech University.",
              class: "layer-box layer-surface block layer-tile-outline tile-slidable",
              image: {
                src: "cloudinary/joseph-projects/publications/annie-spratt-_dAnK9GJvdY-unsplash",
                alt: "An image of a set of papers laid on a table by Annie Spratt on Unsplash.",
              }
            })

  //- Quote and Signature layer
  .signature-layer
    .container-lg
      .tile
        +image({
          src: "cloudinary/e_sharpen,e_art:hokusai/josephojo-portrait",
          alt: "An image of Joseph Ojo in a suit on a boat.",
          overlay: false
        })
      section
        h3.layer-title Signature
        .text-above-quote
          | If you are still reading this, you might just want to work with me. Working with me is like eating a quadruple-layer steak-filled poutine lasagna – you are not sure what you’re getting yourself into, but you’re going to have the time of your life, provided you like lasagna of course.
          br
          br
          | I’ve been told that the zeal I have with my projects is strong and unwavering. Therefore, if you are looking for persistence, I’m your guy. I am also very goal focused. I like to plan and accomplish, and I hope you are too. So, let us get this motorized ball rolling – so to speak!
