extends /layout.pug

block banner
  +banner({
    title: "Bridging the Gap",
    content: "Bringing Hardware and Software to life.",
    image: {
      src: "cloudinary/suspension-bridge",
      alt: "An image of a close up photo of a suspension bridge. By @osmanrana on unsplash."
    },
  })


block content
  //- Intro layer
  .container-lg
    h3.h5.font-800 Hi, I’m Joseph.
    | For about a decade now, I have actively sought to leave the state of things better than I found it. I am a Mechatronics engineer at heart and on paper. I integrate hardware and software into harmonious alliance to solve societal pain points. <br><br> I am always on my feet looking for the next opportunity. Through continuous improvement, determination, and a foresight of opportunity, I seek to achieve my goals. The game isn’t changed until the game is played.

  //- Skills Column layer
  .capsule-layer
    .layout
      h3.h5.font-800 Tools of the trade
      .row.seperate-tools
        .col-6
          h4.underline Hardware Development Tools
          ul
            - let arr =  [ "SolidWorks", "NX Siemens", "KiCAD", "Fritzing", "NI MultiSim", "LTSpice", "Arduino"];
            - for (let i = 0; i < arr.length; i ++) {
              li= arr[i]
            - }

        .col-6
          h4.underline Software Development Tools
          ul
            - arr =  ["C++", "Python", "Matlab & Simulink", "Visual Studio", "Robot Operating System (ROS)", "Arduino", "Keras", "Anaconda"];
            - for (let i = 0; i < arr.length; i ++) {
              li= arr[i]
            - }

  //- Image Column layer
  .capsule-offset.contrast-layer
    .container-xl
      .container.max-w-screen-lg.pb-8
        h3.h5.font-800 Recent Activities
        | Here are some of the projects I have worked on. These include some ongoing and finished research projects, personal projects, as well as some old school and work projects I think you should know about.

      .row.col-grid
        .col-4
          +link({
            href: "/projects/boxer",
            class: "block"
          })
            +tile({
              title: "Boxer",
              class: "layer-box layer-surface block layer-tile-outline",
              image: {
                src: "cloudinary/joseph-projects/boxer/03_ADR_Render_04",
                alt: "An image of a rendered robot."
              }
            })

        .col-4
          +link({
            href: "/projects/battery-manager",
            class: "block"
          })
            +tile({
              title: "Battery Manager",
              class: "layer-box layer-surface block layer-tile-outline",
              image: {
                src: "cloudinary/joseph-projects/battery-manager/BatteryTester_Diag",
                alt: "An image of the battery testing workstation box.",
              }
            })

        .col-4
          +link({
            href: "/projects/sarbot",
            class: "block"
          })
            +tile({
              title: "Search and Rescue Robot (SarBot)",
              class: "layer-box layer-surface block layer-tile-outline",
              image: {
                src: "cloudinary/joseph-projects/sarbot/3D_Modelling",
                alt: "An image of a 3D model of Sarbot.",
              }
            })

        .col-4
          +link({
            href: "/projects/ultima-apparel",
            class: "block"
          })
            +tile({
              title: "Ultima Apparel",
              class: "layer-box layer-surface block layer-tile-outline",
              image: {
                src: "cloudinary/joseph-projects/ultima-apparel/Proof_of_Concept_1",
                alt: "An image of Ultima Apparels first proof of concept.",
              }
            })

        .col-8
          +link({
            href: "/projects/phoenix",
            class: "block"
          })
            +tile({
              title: "Phoenix",
              class: "layer-box layer-surface block layer-tile-outline",
              image: {
                src: "cloudinary/joseph-projects/phoenix/New_Solar_Panel_1-03",
                alt: "An image of Joseph Ojo holding a large pane of Solar Panels.",
              }
            })

        .col-12
          +link({
            href: "/projects/publications",
            class: "block"
          })
            +tile({
              title: "Publications",
              class: "layer-box layer-surface block layer-tile-outline",
              image: {
                src: "cloudinary/aerial-photo-of-brown-mountains",
                alt: "An aerial photo of brown mountains by JOHN TOWNER @heytowner on Unsplash.",
              }
            })

  //- Quote and Signature layer
  .signature-layer
    .container-lg
      .tile
        +image({
          src: "cloudinary/e_sharpen,e_art:hokusai/josephojo-portrait",
          alt: "An image of Joseph Ojo in a suit on a boat.",
          overlay: false
        })
      section
        h3.h5.font-800 Signature
        p.text-above-quote
          | If you are still reading this, you might just want to work with me. Working with me is like eating a quadruple-layer steak-filled poutine lasagna – you are not sure what you’re getting yourself into, but you’re going to have the time of your life, provided you like lasagna of course.
          br
          br
          | I’ve been told that the zeal I have with my projects is strong and unwavering. Therefore, if you are looking for persistence, I’m your guy. I am also very goal focused. I like to plan and accomplish, and I hope you are too. So, let us get this motorized ball rolling – so to speak!
