extends /layout.pug

block pageInfo
  -
    let page = {
      
      url: "/portfolio",
      name: "portfolio",
      title: "Portfolio — A showcase of some of the projects I have taken on.",
      description: "A potfolio of projects I have completed, and even some that are still on-going..."
    };

block hero
  //- Banner layer
  +banner({
    title: "Portfolio",
    content: "A list of projects I have completed, and even some that are still on-going.",
    image: {
      class: "effect-parallax hero-img",
      src: "cloudinary/brown-book-on-table",
      alt: "An image of a book on a L-shape ruler beside a pen that is on a brown wooden table. By @ugmonk on unsplash."
    }
  })


block content
  //- Intro layer
  +layer({
    class: "layout-padding-top-sub-large layout-padding-horz-default--device-gt-tablet"
  })
    +layout({
      class: "layout-shorten-horz layout-contain"
    })
      +main({
        class: "layout-padding-vert-small layout-clearfix"
      })
        +p("This section of the website is dedicated to taking you through the journey of ongoing and completed projects. Tune in for frequent updates as I tack on more projects and complete other activities. ")

  //- Image Column layer
  +layer
    +layout({
      class: "layout-contain-large"
    })
      +main
        +row({
          class: "layout-margin-dull"
        })
          +column({
            class: "layout-col-6 layout-padding-small"
          })
            +link({
              href: "/projects/boxer",
              class: "layout-block"
            }, true)
              +tile({
                title: "Boxer",
                class: "layer-box layer-surface layout-block layer-tile-outline",
                content: "Boxer is an all-wheel drive semi-autonomous platform designed and developed for LinLab by myself and a few quirky undergraduate students...",
                image: {
                  class: "",
                  src: "cloudinary/joseph-projects/boxer/03_ADR_Render_04",
                  alt: "An image of a rendered robot."
                }
              })

          +column({
            class: "layout-col-6 layout-padding-small layout-padding-vert-large"
          })
            +link({
              href: "/projects/battery-manager",
              class: "layout-block"
            }, true)
              +tile({
                title: "Battery Manager",
                class: "layer-box layer-surface layout-block layer-tile-outline",
                image: {
                  class: "",
                  src: "cloudinary/joseph-projects/battery-manager/BatteryTester_Diag",
                  alt: "An image of the battery testing workstation box.",
                }
              })

          +column({
            class: "layout-col-6 layout-padding-small layout-padding-vert-large"
          })
            +link({
              href: "/projects/sarbot",
              class: "layout-block"
            }, true)
              +tile({
                title: "Search and Rescue Robot (SarBot)",
                class: "layer-box layer-surface layout-block layer-tile-outline",
                image: {
                  class: "",
                  src: "cloudinary/joseph-projects/sarbot/3D_Modelling",
                  alt: "An image of a 3D model of Sarbot.",
                }
              })

          +column({
            class: "layout-col-12 layout-padding-small layout-padding-vert-large"
          })
            +link({
              href: "/projects/ultima-apparel",
              class: "layout-block"
            }, true)
              +tile({
                title: "Ultima Apparel",
                class: "layer-box layer-surface layout-block layer-tile-outline",
                image: {
                  class: "",
                  src: "cloudinary/joseph-projects/ultima-apparel/Proof_of_Concept_1",
                  alt: "An image of Ultima Apparels first proof of concept.",
                }
              })

          +column({
            class: "layout-col-12 layout-padding-small layout-padding-vert-large"
          })
            +link({
              href: "/projects/phoenix",
              class: "layout-block"
            }, true)
              +tile({
                title: "Phoenix",
                class: "layer-box layer-surface layout-block layer-tile-outline",
                image: {
                  class: "",
                  src: "cloudinary/joseph-projects/phoenix/New_Solar_Panel_1-03",
                  alt: "An image of Joseph Ojo holding a large pane of Solar Panels.",
                }
              })

          +column({
            class: "layout-col-12 layout-padding-small layout-padding-vert-large"
          })
            +link({
              href: "/projects/publications",
              class: "layout-block"
            }, true)(title="The link to the Nasa project page.")
              +tile({
                title: "Publications",
                class: "layer-box layer-surface layout-block layer-tile-outline",
                image: {
                  class: "",
                  src: "cloudinary/aerial-photo-of-brown-mountains",
                  alt: "An aerial photo of brown mountains by JOHN TOWNER @heytowner on Unsplash.",
                }
              })
