extends /layout.pug

block pageInfo
  -
    let page = {
      url: "/portfolio",
      name: "portfolio",
      title: "Portfolio — A showcase of some of the projects I have taken on.",
      description: "A showcase of projects I have completed, and even some that are still on-going..."
    };

block banner
  +banner({
    title: "Portfolio",
    content: "A showcase of projects I have completed, and even some that are still on-going. Tune in for frequent updates as I tack on more projects and complete other activities.",
    image: {
      src: "cloudinary/brown-book-on-table",
      alt: "An image of a book on a L-shape ruler beside a pen that is on a brown wooden table. By @ugmonk on unsplash."
    },
    mode: "banner"
  })

block content
  .container-lg
    .py-5
      .row.col-grid
        .col-6
          +link("/projects/boxer")
            +tile({
              title: "Boxer",
              content: "An autonomous robotic platform very similar to a conventional vehicle due to its ackerman steering design, and independent suspension.",
              image: {
                src: "cloudinary/joseph-projects/boxer/03_ADR_Render_04",
                alt: "An image of a rendered robot."
              }
            })

        .col-6
          +link("/projects/battery-manager")
            +tile({
              title: "Battery Manager",
              content: "A tool built to perform a multitude of experiments on battery cells and packs of different sizes. Rated for 35A, the device is capable of fast charging, cycling, fault induction and recognition and many more due to its customizability.",
              image: {
                src: "cloudinary/joseph-projects/battery-manager/BatteryTester_Diag",
                alt: "An image of the battery testing workstation box.",
              }
            })
        .col-6
          +link("/projects/sarbot")
            +tile({
              title: "Search and Rescue Robot (SarBot)",
              content: "SarBot was a major course project in my final year of undergrad. The objective was to emulate a search and rescue (SaR) operation for a miner trapped underground. The robot had to be semi-autonomous and had to avoid obstacles.",
              image: {
                src: "cloudinary/joseph-projects/sarbot/3D_Modelling",
                alt: "An image of a 3D model of Sarbot.",
              }
            })

        .col-6
          +link("/projects/ultima-apparel")
            +tile({
              title: "Ultima Apparel",
              content: "A startup company created by a colleague and I in our undergrad, hoping to reduce the occurrence of lower back and shoulder injuries during work outs. The project eventually morphed into an interesting capstone project and won our team first place in the electrical engineering competition in 2018.",
              image: {
                src: "cloudinary/joseph-projects/ultima-apparel/Proof_of_Concept_1",
                alt: "An image of Ultima Apparels first proof of concept.",
              }
            })


        .col-6
          +link("/projects/phoenix")
            +tile({
              title: "Phoenix",
              content: "As part of my job as an engineering intern at Celestica, one of my projects was the design of a new solar panel frame that had interesting features and functions while being cheaper than the older product version.",
              image: {
                src: "cloudinary/joseph-projects/phoenix/New_Solar_Panel_1-03",
                alt: "An image of Joseph Ojo holding a large pane of Solar Panels.",
              }
            })

        .col-6
          +link("/projects/publications")
            +tile({
              title: "Publications",
              content: "A list of publications I completed while studying for my masters at OntarioTech University.",
              image: {
                src: "cloudinary/joseph-projects/publications/annie-spratt-_dAnK9GJvdY-unsplash",
                alt: "An image of a set of papers laid on a table by Annie Spratt on Unsplash.",
              }
            })
