extends /app.pug

block pageInfo
  -
    let page = {
      websiteURL,
      url: "/404",
      name: "404",
      title: "Ooops!",
      description: "Sorry, the page you are looking for doesn't exist. How about going back home."
    };

block preload
  link(rel="preload" href="/fonts/montserrat--bold_latin.woff2" as="font" type="font/woff2" crossorigin)

block content
  section(id="content" itemtype="http://schema.org/WebPageElement" itemscope itemprop="mainEntity")
    //- Intro layer
    +layer({
      class: "layout-padding-horz-default"
    })
      +layout({
        class: "layout-contain-small layout-vert-centered-box"
      })
        section
          +head
            h1.h4.style-font-30--device-phone.style-primary-dark.style-bold.style-center 404, Page Not Found.
          +main({
            class: "style-center",
          })
            +p("Sorry, the page you are looking for doesn't exist. How about going back")
            +link({
              href: "/",
              class: "style-italic style-underline layout-margin-left-mini",
              content: "home"
            })
            +p(".")

block footer
  +footer({
    class: "footer-stuck layout-margin-vert-top"
  })
