extends ../app.pug
include ../components/sections.pug
include ../components/layout.pug
include ../components/layer.pug
include ../components/text.pug
include ../components/hero.pug

block pageInfo
	-
		let page = {
			url: "/about",
			name: "about",
			title: "A little about me.",
			description: "What drove me to become a Mechatronics Engineer..."
		};

block content
	//- Hero layer
	+hero({
		title: "A little about me.",
		content: "What drove me to become a Mechatronics Engineer?",
		image: {
			class: "effect-parallax hero-img",
			src: "/assets/white-flower",
			alt: "A city Image"
		}
	})

	//- Intro layer
	+layer({
		class: "layout-padding-horz layout-padding-vert-top-default--device-phone"
	})
		+layout({
			class: "layout-shorten layout-contain-small"
		})
			+head("My story.")
			+main({
				class: "layout-padding-vert-small"
			})
				span.layout-margin-horz-left-large.layout-inline-block= " "
				+p("One of my life goals is to leave everything I come in contact with better than I found it. This obviously can be difficult, but a couple of the ways I am trying to achieve this is to seize every opportunity and learn from previous mistakes. <br> <br> In case you were wondering what my skills outside engineering are, they include problem-solving, leadership, communication and conflict resolution. For more info. check out my resume ")
				+link({
					href: "/resume",
					class: "layout-margin-dull layout-margin-left-mini",
					content: "here."
				})
