extends ../app.pug
include ../components/sections.pug
include ../components/layout.pug
include ../components/column.pug
include ../components/layer.pug
include ../components/text.pug
include ../components/tile.pug
include ../components/hero.pug
include ../components/row.pug

block content
	//- Hero layer
	+hero({
		title: "Brilliant <br/> Engineering",
		content: "Creating with passion, crafting with love.",
		image: {
			class: "effect-parallax hero-img",
			src: "/assets/closeup-stones",
			alt: "A city Image"
		}
	})

	//- Intro layer
	+layer({
		class: "layout-padding-horz layout-padding-vert-top-default--device-phone"
	})
		+layout({
			class: "layout-shorten layout-contain style-line-height-double"
		})
			+head("Lorem itpsuim")
			+main({
				class: "layout-padding-vert-small"
			})
				span.layout-margin-horz-left-large.layout-inline-block= " "
				p.layout-inline.layout-margin-dull(lorem="3")
				+link({
					href: "/about",
					class: "layout-margin-horz-left-mini",
					content: "Click here"
				})

	//- Listings layer
	+layer
		+layout({
			class: "layout-padding-horz layout-padding-large-top"
		})
			section.layout-shorten.layout-contain
				+head("Listings")
				+main({
						class: "layout-padding-top style-line-height-double"
				})
					+row
						//- 1st Column
						+column({
							class: "layout-col-2 layout-padding-bottom-small"
						})
							+p({
								content: "03/03",
								class: "style-font-18--device-phone style-font-24 style-bold"
							})

						//- 2nd Column
						+column({
							class: "layout-col-3 layout-padding-bottom style-line-height-small--device-phone style-line-height-double"
						})
							+p({
								content: "2018",
								class: "layout-block style-font-18--device-phone style-font-24 style-bold "
							})
							+p({
								content: "E-commerse",
								class: "layout-block style-font-16--device-phone style-font-18"
							})
							+p({
								content: "Design Executive",
								class: "layout-block style-font-16--device-phone style-font-18"
							})

						//- 3rd Column
						+column({
							class: "layout-col-7"
						})
							p.style-font-15--device-phone.style-font-18.layout-margin-dull(lorem="1")

	//- Banner layer 1
	+layer({
		class: "layer-color-dark"
	})
		+layout({
			class: "layout-contain-large layout-enlarge-vert"
		})
			+head({
					class: "style-center"
			})
				h2.layout-padding-vert.style-bold-font.style-600.style-color-white  Got your attention
					span.style-color-tertiary-dark . Good!

	//- Banner layer 2
	+layer({
		class: "layer-color-primary"
	})
		+layout({
			class: "layout-contain-large layout-enlarge-vert"
		})
			+head({
					class: "style-center"
			})
				h2.layout-padding-vert.style-bold-font.style-600.style-color-white  Got your attention
					span.style-color-tertiary-dark . Good!

	//- Banner layer 3
	+layer({
		class: "layer-color-tertiary"
	})
		+layout({
			class: "layout-contain-large layout-enlarge-vert"
		})
			+head({
					class: "layout-padding-vert style-bold-font style-600 h2 style-color-dark style-center"
			})
				h2.layout-padding-vert.style-bold-font.style-600.style-color-dark  Got your attention
					span.style-color-secondary-dark . Good!

	//- Breakthrough layer
	+layer
		+layout({
			class: "layout-contain-large layout-padding-large"
		})
			+main({
					class: "layout-padding-vert"
			})
				+row
					//- 1st Column
					+column({
						class: "layout-col-6 layout-padding-bottom-small layout-padding-right-large"
					})
						+p({
							content: "Breakthrough<br>Limits!",
							class: "style-color-primary style-bold-font style-600 style-font-15--device-phone style-line-height h3"
						})

					//- 2nd Column
					+column({
						class: "layout-col-6"
					})
						p.style-font-15--device-phone.style-font-18.layout-block.layout-margin-dull(lorem="1")

	//- Image Column layer
	+layer
		+layout({
			class: "layout-contain-large"
		})
			+main({
					class: "layout-shorten-vert"
			})
				//- 1st Row
				+row({
					class: "layout-margin-dull"
				})
					//- Empty alignment Column
					+column({
						class: "layout-col-3 layout-block"
					})

					//- 1st Column
					+column({
						class: "layout-col-9 layout-padding-small"
					})
						+tile({
							title: "Google Designs",
							class: "layer-box layer-surface layout-block",
							image: {
								class: "effect-parallax",
								src: "/assets/city",
								alt: "City Alt",
							}
						})

				//- 2nd Row
				+row({
					class: "layout-margin-dull"
				})
					//- 1st Column
					+column({
						class: "layout-col-9 layout-padding-small layout-padding-vert-large"
					})
						+tile({
							title: "Google Designs",
							class: "layer-box layer-surface layout-block",
							image: {
								src: "/assets/blue-sky",
								alt: "Blue sky Alt",
							}
						})

					//- Empty alignment Column
					+column({
						class: "layout-col-3"
					})
